{{- $src := .Destination -}}
{{- $zoom := false -}}
{{- if strings.Contains $src "?zoom" -}}
  {{- $src = replace $src "?zoom" "" -}}
  {{- $zoom = true -}}
{{- end -}}
{{- $right := false -}}
{{- if strings.Contains $src "?right" -}}
  {{- $src = replace $src "?right" "" -}}
  {{- $right = true -}}
{{- end -}}
{{- $left := false -}}
{{- if strings.Contains $src "?left" -}}
  {{- $src = replace $src "?left" "" -}}
  {{- $left = true -}}
{{- end -}}
{{- $alt := .PlainText -}}
{{- $title := .Title -}}
{{- $res := and .Page .Page.Resources (.Page.Resources.GetMatch $src) -}}
<figure class="post-figure{{ if $right }} post-figure--right{{ end }}{{ if $left }} post-figure--left{{ end }}">
  {{- if $res -}}
    {{- if hasSuffix $src ".svg" -}}
      {{- /* SVG resources lack Width/Height/Resize; emit raw, browser scales via viewBox. */ -}}
      <img src="{{ $res.RelPermalink }}" alt="{{ $alt }}" loading="lazy"{{ if $zoom }} data-zoom-src="{{ $res.RelPermalink }}" class="zoomable"{{ end }}>
    {{- else if $zoom -}}
      {{- $thumb := $res.Resize "1200x q98 CatmullRom" -}}
      <img src="{{ $thumb.RelPermalink }}" srcset="{{ $thumb.RelPermalink }} {{ $thumb.Width }}w, {{ $res.RelPermalink }} {{ $res.Width }}w" sizes="(max-width: 760px) calc(100vw - 48px), 640px" data-zoom-src="{{ $res.RelPermalink }}" alt="{{ $alt }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" loading="lazy" class="zoomable">
    {{- else -}}
      <img src="{{ $res.RelPermalink }}" alt="{{ $alt }}" width="{{ $res.Width }}" height="{{ $res.Height }}" loading="lazy">
    {{- end -}}
  {{- else -}}
    <img src="{{ $src | safeURL }}" alt="{{ $alt }}" loading="lazy"{{ if $zoom }} class="zoomable"{{ end }}>
  {{- end -}}
  {{- with $title }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
